.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

.controls {
    margin-top: 10px;
}

.data {
    padding: 20px;
    /* border: 2px solid rgb(1, 1, 77); */
    background-color: aliceblue;
    margin-top: 30px;
}

section#student-container,
section#courses-container {
    padding: 10px;
    width: 50%;
    border: 1px solid gray;
}

.data {
    display: flex;
    gap: 20px;
}