* {
    color: rgb(56, 56, 56);
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

.controls {
    margin-top: 10px;
}

.data {
    padding: 20px;
    background-color: rgba(139, 131, 131, 0.105);
    margin-top: 30px;
}

section#student-container,
section#courses-container {
    padding: 10px;
    width: 50%;
    border: 1px solid rgb(40, 72, 147);
}

.data {
    display: flex;
    gap: 20px;
}

button {
    padding: 5px 15px;
    margin-right: 10px;
    color: white;
    background-color: rgb(34, 63, 131);
    border: none;
    transition: 0.3s;
}

button#clear-btn {
    background-color: rgb(139, 131, 131);
}

button:hover {
    opacity: 0.85;
}

#status {
    color: rgb(40, 72, 147);
    text-decoration: underline;
}