.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

.controls {
    margin-top: 10px;
}
.data {
    padding: 20px;
    border: 2px solid rgb(1, 1, 77);
    margin-top: 30px;
}