.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 30px 0;
}

#artists-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.artist-card {
    min-width: 230px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgba(218, 165, 32, .85);
    padding: 50px;
}

.btn {
    margin-right: 15px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    background: rgb(41, 41, 41);
    color: white;
    transition: 0.3s;
}

.btn--clear {
    border: 1px solid rgb(41, 41, 41);
    background: none;
    color: rgb(41, 41, 41);
}

.details-btn {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    background: white;
    transition: 0.3s;
}

.details-btn:hover,
.btn:hover {
    opacity: 0.7;
}